*.sw?
.#*
*#
*~
.classpath
.project
.settings
.gradle
.mvn
.vscode
.deployment
bin
obj
gradle
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.project
.classpath
README.html
.idea
*.iml
*.bot
info.txt
publish
publish.cmd
appsettings.development.json
